@using Model;
@{
    ViewData["Title"] = "个人信息";
    Layout = "~/Views/Shared/_HUI.cshtml";
    Service.Model.AdminUserInfo user = ViewBag.User;
}

<article class="page-container">
    <form class="form form-horizontal" id="form-admin-add">
        <div class="row cl" style="display:none">
            <label class="form-label col-xs-4 col-sm-3">Id：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="@user.Id" id="id" name="id">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">账号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <label>@user.Name</label>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">昵称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="@user.NickName" id="nickname" name="nickname" >
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">性别：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="radio-box">
                    <input name="gender" type="radio" id="sex-1" value="1" @(user.Gender == 1 ? "checked" : "") >
                    <label for="sex-1">男</label>
                </div>
                <div class="radio-box">
                    <input type="radio" id="sex-2" value="2" name="gender" @(user.Gender == 2 ? "checked" : "") >
                    <label for="sex-2">女</label>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">手机：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="@user.Phone"  id="phone" name="phone" >
            </div>
        </div>
        @*<div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="@@" name="email" id="email">
            </div>
        </div>*@
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>

@section ScriptSection{
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="~/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="~/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="~/lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <script type="text/javascript">
        $(function () {


    $('.skin-minimal input').iCheck({
    checkboxClass: 'icheckbox-blue',
    radioClass: 'iradio-blue',
    increaseArea: '20%'
    });

    $("#form-admin-add").validate({
    rules: {

    name: {
    },
    password: {
    required: true,
    },
    password2: {
    required: true,
    equalTo: "#password"
    },
    sex: {

    },
    phone: {

    },
    //email: {
    //    required: true,
    //    email: true,
    //},
    adminRole: {
    required: true,
    },
    },
    onkeyup: false,
    focusCleanup: true,
    success: "valid",
    submitHandler: function (form) {

    $(form).ajaxSubmit({
    type: 'post',
    url: '@Url.Action("SelfInfoEdit_Save")',

        success: function (data) {
        //location.replace(location.href);
        //parent.window.location.href = location.href;
        layer.msg('修改成功!', { icon: 1, time: 1000 });
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    },
    error: function (XmlHttpRequest, textStatus, errorThrown) {
    //layer.msg('error!', { icon: 2, time: 1000 });
    }
    });

    }
    });
    });
    </script>
    <!--/请在上方写此页面业务相关的脚本-->
}

