@using Model;
@{
    ViewData["Title"] = "添加角色";
    Layout = "~/Views/Shared/_HUI.cshtml";
    List<ViewMenu> menus = ViewBag.Menus;
    AdminRole role = ViewBag.Role;
}
<article class="page-container">
    <form class="form form-horizontal" id="form-admin-role-edit">

        <div class="row cl" style="display:none">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>Id：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="@role.Id" id="id" name="id">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="@role.Name" placeholder="" id="roleName" name="roleName">
            </div>
        </div>
        @*<div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">备注：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="" name="">
            </div>
        </div>*@
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">角色权限：</label>
            <div class="formControls col-xs-8 col-sm-9">
                @foreach (var it in menus)
            {
                <dl class="permission-list">


                    <dt>
                        <label>
                            @if (it.Own)
                        {
                            <input class="menucheckbox" type="checkbox" value="@it.Id" name="menuId" id="menuId" checked="checked">
                    }
                    else
                    {
                        <input class="menucheckbox" type="checkbox" value="@it.Id" name="menuId" id="menuId">
                }

                            @it.Name
                        </label>
                    </dt>
                    <dd>
                        @foreach (var vmenu in it.SubMenus)
                    {
                        <dl class="cl permission-list2">
                            <dt>
                                <label class="">
                                    @if (vmenu.Own)
                                {
                                    <input class="menucheckbox" type="checkbox" value="@vmenu.Id" name="menuId" id="menuId" checked="checked">
                            }
                            else
                            {
                                <input class="menucheckbox" type="checkbox" value="@vmenu.Id" name="menuId" id="menuId">
                        }

                                    @vmenu.Name
                                </label>
                            </dt>
                            <dd>
                                @foreach (var sub in vmenu.SubMenus)
                            {
                                <label class="">
                                    @if (sub.Own)
                                {
                                    <input class="menucheckbox" type="checkbox" value="@sub.Id" name="menuId" id="menuId" checked="checked">
                            }
                            else
                            {
                                <input class="menucheckbox" type="checkbox" value="@sub.Id" name="menuId" id="menuId">
                        }

                                    @sub.Name
                                </label>
                        }


                                @*<label class="c-orange"><input type="checkbox" value="" name="menuId" id="menuId"> 只能操作自己发布的</label>*@
                            </dd>
                        </dl>
                }

                    </dd>
                </dl>
        }

            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button type="submit" class="btn btn-success radius"><i class="icon-ok"></i> 确定</button>
            </div>
        </div>
    </form>
</article>

@section ScriptSection
    {
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="~/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="~/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="~/lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <script type="text/javascript">
$(function(){
	//$(".permission-list dt input:checkbox").click(function(){
	//	$(this).closest("dl").find("dd input:checkbox").prop("checked",$(this).prop("checked"));
	//});
	//$(".permission-list2 dd input:checkbox").click(function(){
	//	var l =$(this).parent().parent().find("input:checked").length;
	//	var l2=$(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
	//	if($(this).prop("checked")){
	//		$(this).closest("dl").find("dt input:checkbox").prop("checked",true);
	//		$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",true);
	//	}
	//	else{
	//		if(l==0){
	//			$(this).closest("dl").find("dt input:checkbox").prop("checked",false);
	//		}
	//		if(l2==0){
	//			$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",false);
	//		}
	//	}
	//});

        $("#form-admin-role-edit").validate({
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit({
                        type: 'post',
                        url: '@Url.Action("Edit_Save")',
                        success: function (data) {
                            parent.window.location.href = "/adminRole";
                            layer.msg('添加成功!', { icon: 1, time: 1000 });
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        },
                        error: function (XmlHttpRequest, textStatus, errorThrown) {
                            //layer.msg('error!', { icon: 2, time: 1000 });
                        }
                    });
           
		}
	});
});
    </script>
    <!--/请在上方写此页面业务相关的脚本-->
}

